@use '@angular/material' as mat;

/* 1. Define a theme */
$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: Roboto,
    ),
    density: (
      scale: 0,
    ),
  )
);

/* 2. Apply the theme */
:root {
  @include mat.all-component-themes($my-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

/* Force Angular [hidden] to actually hide elements */
[hidden] {
  display: none !important;
}
